---
layout: default
---

<div class="post-banner">
  <div class="post-banner-head">
    <h1>Lubinian Gazette</h1>
    <h2>The official Lubinian Tales blog from author A J Rees.</h2>
  </div>
</div>

<article>

  <div class="post-header">
    <h2>
      {{ page.title }}
    </h2>
    <p class="post-meta">
      Published by A J Rees on {{ page.date | date: '%B %d, %Y' }}
    </p>
  </div>

  <div class="post-text">
    {{ content }}
  </div>

  <div id="disqus_thread"></div>
  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//lubiniantales.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
